@using MatFrem.Models.ViewModel

@model IEnumerable<ProductViewModel>

@{
    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int previousPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/5eea027e19.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<div class="box">
    <input type="text" id="searchTable" placeholder="Søk..." />
    <a href="#">
        <i class="fa-solid fa-magnifying-glass"></i>
    </a>
</div>

<div id="portexe-search-root">
    <div id="portexe-table-container">
        @if (Model != null && Model.Any())
        {
            <table class="table table-sortable table-striped table-bordered bg-white" id="firstTableId">
                <thead>
                    <tr>
                        <th>Produkt ID</th>
                        <th>Produkt Lokasjon</th>
                        <th>Navn</th>
                        <th>Pris</th>
                        <th>Kalori Innhold</th>
                        <th>Kategori</th>
                        <th>Fjern</th>
                        <th>Rediger</th>
                        
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var productModel in Model)
                    {
                        <tr>
                            <td>@productModel.ProductID</td>
                            <td>@productModel.ProductLocation</td>
                            <td>@productModel.ProductName</td>
                            <td>@(productModel.ProductPrice)kr</td>
                            <td>@productModel.ProductCalories</td>
                            <td>@productModel.Category</td>
                            <td>
                                <a class="btn btn-danger btn-sm" asp-controller="Product" asp-action="DeleteProduct"
                                   asp-route-id="@productModel.ProductID" onclick="return confirm('Er du sikkert?')">Slett</a>
                            </td>

                            <td>
                                <a asp-controller="Product"
                                   asp-action="EditProduct"
                                   asp-route-id="@productModel.ProductID">
                                    <img src="~/images/green-arrow.svg" alt="Gå til" style="height: 40px;" />
                                </a>
                            </td>
                           
                        </tr>
                    }
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" asp-controller="Market" asp-action="Shopping" asp-route-pageNumber="@(ViewBag.CurrentPage - 1)" asp-route-pageSize="@ViewBag.PageSize">
                            Forrige side
                        </a>
                    </li>

                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item">
                            <a class="page-link"
                               
                               
                               asp-route-pageNumber="@i"
                               asp-route-pageSize="@ViewBag.PageSize">
                                @i
                            </a>
                        </li>
                    }

                    <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                        <a class="page-link" asp-route-pageNumber="@(ViewBag.CurrentPage + 1)" asp-route-pageSize="@ViewBag.PageSize">
                            Neste side
                        </a>
                    </li>
                </ul>
            </nav>


        }
        else
        {
            <p>Ingen produkt funnet!</p>
        }

    </div>
</div>

<div>
    <button class="buttonClass"
            type="submit"
            asp-controller="Market" asp-action="DeleteProduct">
        Slett
    </button>
</div>

<script>var modelData = @Html.Raw(Json.Serialize(Model)); </script>

<script src="~/js/sortSearch.js"></script>
