@using System.Security.Claims
@using MatFrem.Models.ViewModel
@model OrderViewModel
﻿@using Microsoft.AspNetCore.Identity
@using MatFrem.Models.DomainModel
@inject SignInManager<ApplicationUser> signInManager

<div class="container py-5">
    <div class="row">
        <div class="col-md-4">
            <!--Outputs Model content if Model is not empty-->
            @if (Model != null)
            {
                <div class="card" style="box-sizing: border-box; padding: 10px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);">
                    <h7 class="card-header border-bottom-0">
                        <div class="container">
                                <small class="text-muted">
                                    Sjåfør navn
                                </small>
                        </div>
                        <div class="container" style="margin-top: 5px;">
                            
                                @if (@Model.DriverName == null)
                                {
                                    <text>Ingen sjåfør tildelt</text>
                                }
                                else
                                {
                                    @Model.DriverName
                                }
                            
                        </div>
                    </h7>
                    <div class="mb3">
                        <p class="card-text" style="box-sizing: border-box; padding-left: 10px;">
                            <small class="card-title">
                                Order ID: @Model.OrderID
                                <span style="float: right;">
                                    Order dato: @Model.DateOrderCreate
                                </span>
                            </small>
                        </p>
                    </div>
                    <div class="card-body">
                        <small class="text-muted">
                            Antall varer:
                        </small>
                        <br />
                        <h5 class="card-title">
                            @Model.OrderQuantitySize
                        </h5>
                        <small class="text-muted">
                            Kjøper:
                        </small>
                        <br />
                        <p class="card-text overflow-auto" style="margin-bottom: 5px;">
                            @Model.CustomerName
                        </p>
                        <small class="text-muted">
                            Leverings adresse:
                        </small>
                        <br />
                        <p class="card-text overflow-auto" style="margin-bottom: 5px;">
                            @Model.DeliveryAddress
                        </p>
                        <small class="text-muted">
                            Pris:
                        </small>
                        <br />
                        <p class="card-text overflow-auto" style="margin-bottom: 0;">
                            @Model.TotalAmount?.ToString("F2") kr
                        </p>
                    </div>


                    <div class="card-footer border-top-0">
                        <div class="container" style="text-align: center;">
                            <h3 style="font-size: 1.2em; color: gray; margin-bottom: 10px;">Order Status</h3>
                            <h1>@Model.OrderStatusDescription</h1>
                        </div>
                    </div>

                    <div class="container">
                        <form method="post">
                            @Html.AntiForgeryToken()
                            @{
                                var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                            }

                            <!--Displays case handling tools based on User role-->
                            <div class="d-flex gap-2" style="align-items: center; padding-top: 8px;">
                                @if (User.IsInRole("Driver") || (User.IsInRole("System Administrator")))
                                {
                                    @if (Model.OrderStatusID == 1)
                                    {
                                        <button type="submit" formaction="@Url.Action("StartOrder", "Driver", new { id = Model.OrderID })"
                                        class="btn btn-primary flex-fill">
                                            Start behandling
                                        </button>
                                    }
                                    else if (Model.OrderStatusID == 3 && Model.DriverId == currentUserId)
                                    {
                                        <button type="submit" formaction="@Url.Action("FinishOrder", "Driver", new { id = Model.OrderID })"
                                        class="btn btn-success flex-fill"
                                        onclick="return confirm('Er du sikker på at du vil fullføre behandlingen?')">
                                            Fullfør behandling
                                        </button>

                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("System Administrator"))
                                        {
                                            <button type="button" class="btn btn-warning flex-fill" data-bs-toggle="modal" data-bs-target="#reassignModal">
												Tildel order til annen sjåfør
                                            </button>
                                        }
                                    }

                                    @if (signInManager.IsSignedIn(User) && User.IsInRole("System Administrator"))
                                    {
                                        <button type="submit" formaction="@Url.Action("CancelOrder", "Driver", new { id = Model.OrderID })"
                                                class="btn btn-danger flex-fill"
                                                onclick="return confirm ('Er du sikker på at du vil kansellere orderen?');">
                                            Kanseller ordre
                                        </button>
                                    }
                                }
                             
                            </div>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <p>Ingen innmelding funnet!</p>
            }
        </div>

        <div class="col-md-8">
            <div id="map"></div>

            @if (User.IsInRole("Driver"))
            {
                <div class="d-flex justify-content-center mt-3">
                    <a href="" target="_blank" id="googleMapsLink" class="btn btn-info">
                        Åpne i Google Maps satellittvisning
                    </a>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts
{
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="@("https://unpkg.com/@turf/turf@7.0.0/turf.min.js")"></script>

    <script>
        var geoJsonData = @Html.Raw(Model.DeliveryAddress);
    </script>
    <script src="~/js/AddToMap.js"></script>

}
