@model MatFrem.Models.ViewModel.ShoppingCartViewModel
@using MatFrem.Models.DomainModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager


<div class="mx-auto rounded border p-4 shadow-sm bg-light" style="width: 420px">
    <h2 class="text-center mb-3">Order detaljer</h2>
    <hr />

    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success" role="alert">@ViewBag.SuccessMessage</div>
        <a class="btn btn-outline-primary" asp-controller="ClientOrders" asp-action="Index">Back</a>
    }
    else
    {

        <div class="row mb-3">
            <div class="col-5">Betalingsmetode:</div>
            <div class="col-7">@Model.PaymentMethod</div>
        </div>
        <div class="row mb-3">
            <div class="col-5">Total beløp:</div>
            <div class="col-7">@(Model.Total)kr</div>
        </div>
        <div class="row mb-3">
            <div class="col-5">Antall varer:</div>
            <div class="col-7">@(Model.CartSize)</div>
        </div>

        <div class="row mb-3">
            <div class="col-5">Kunde navn:</div>
            <div class="col-7">@Model.CustomerName</div>
        </div>

        <div class="row mb-3">
            <div class="col-5">Telefon nr:</div>
            <div class="col-7">@Model.CustomerPhoneNr</div>
        </div>

        <div class="row mb-3">
            <div class="col-5">Produkt beskrivelse:</div>
            <div class="col-7">
                @if(Model.ProductDescription != null)
                {
                    foreach(var elements in Model.ProductDescription)
                    {
                        <div> @elements </div>
                    }
                } 
                
            </div>

        </div>

        <div class="row mb-3">
            <div class="col-5">Leveringsaddresse:</div>
            <div class="col-7">@Model.DeliveryAddress</div>
        </div>
        

        <form method="post">
            <div class="row">
                <div class="col-sm-6 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Order" asp-action="OrderHistory">Oversikt</a>
                </div>
                <div class="col-sm-6 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Hjem</a>
                </div>
            </div>
        </form>
    }
</div>

