@using MatFrem.Models.DomainModel

@model IEnumerable<ProductModel>

@{
    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int previousPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/5eea027e19.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<div class="box">
    <input type="text" id="searchTable" placeholder="Søk..." />
    <a href="#">
        <i class="fa-solid fa-magnifying-glass"></i>
    </a>
</div>

<body>
    <div class="container mt-3">
        <div class="filter-box">
            <label for="FilterCategory" class="me-2 text-dark">Filter by Category:</label>
            <select id="FilterCategory" class="form-select">
                <option value="Meleri & Egg">Meleri & Egg</option>
                <option value="Frukt & Grønt">Frukt & Grønt</option>
                <option value="Vegetar">Vegetar</option>
                <option value="Sjømat">Sjømat</option>
                <option value="Tørrvare">Tørrvare</option>
                <option value="Frokostblanding">Frokostblanding</option>
                <option value="Frosne varer">Frosne varer</option>
                <option value="Bakeri">Bakeri</option>
                <option value="All">All</option>
            </select>
        </div>
    </div>
</body>

<div id="portexe-search-root">
    <div id="portexe-table-container">
        @if (Model != null && Model.Any())
        {
            <table class="table table-sortable" id="firstTableId">
                <thead>
                    <tr>
                        <th>Produkt ID</th>
                        <th>Navn</th>
                        <th>Kalori</th>
                        <th>Kategori</th>
                        <th>Pris</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var productModel in Model)
                    {
                        <tr>
                            <td>@productModel.ProductID</td>
                            <td>@productModel.ProductName</td>
                            <td>@productModel.ProductCalories</td>
                            <td>@productModel.ProductCategory</td>
                            <td>@productModel.ProductPrice</td>
                            <td>
                                <a asp-controller="Market"
                                   asp-action="Shopping"
                                   asp-route-id="@productModel.ProductID">
                                    <img src="~/images/green-arrow.svg" alt="Gå til" style="height: 40px;" />
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

                 <nav aria-label="Page navigation example">
                    <ul class="pagination">
                       <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
    <a class="page-link" asp-controller="Market" asp-action="Shopping" asp-route-pageNumber="@(ViewBag.CurrentPage - 1)" asp-route-pageSize="@ViewBag.PageSize">
        Forrige side
    </a>
</li>

                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                                <li class="page-item">
                                   <a class="page-link"
                                    asp-controller="Market" 
                                    asp-action="Shopping"
                                    asp-route-pageNumber="@i"
                                   asp-route-pageSize="@ViewBag.PageSize">
                                @i
                                </a>
                                </li>
                    }

                           <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
        <a class="page-link" asp-controller="Market" asp-action="Shopping" asp-route-pageNumber="@(ViewBag.CurrentPage + 1)" asp-route-pageSize="@ViewBag.PageSize">
            Neste side
        </a>
    </li>
                    </ul>
                </nav>
        }
        else
        {
            <p>Ingen produkt funnet!</p>
        }

    </div>
</div>

<div>
    <button class="buttonClass" 
        type="submit" 
        asp-controller="Market" asp-action="Delete"> Slett </button>
</div>

<script>var modelData = @Html.Raw(Json.Serialize(Model)); </script>

<script src="~/js/sortSearch.js"></script>
